#addsContent {
    #addsCategory {
        section {
            @extend .dBlock;
            float:none;
            margin-top: 15px;
            vertical-align: top;
            width: 90%;
        }
        h3 {
            @extend .robotoBold;
            background: $main-green;
            color: #FFF;
            font-size: 20px;
            margin: 5px 0 10px;
            padding: 4px 0 4px 10px;
            text-transform: uppercase;
        }
        p {
            @extend .robotoRegular;
            margin: 0 0 2px 0;
            a {
                color: #000;
                padding-left: 10px;
            }
        }
    }
    #addsLast {
        overflow: auto;
        margin-top: 50px;
        h2 {
            @extend .robotoBold;
            color: $main-green;
            font-size: 24px;
            text-transform: uppercase;
        }
        .itemAd {
            .newsHover {
                &:hover {
                    h3 {
                        color: $main-green;
                    }
                }
            }
            margin: 20px auto 0;
            overflow: hidden;
            max-width: 285px;
            section > div {
                padding: 0;
            }
            .cropImg {
                height: 200px;
                margin: 0 auto;
                width: 260px;
                .category {
                    @extend .robotoBold;
                    background: $main-green;
                    color: #FFF;
                    display: block;
                    height: 25px;
                    font-size: 20px;
                    padding: 0 4px 0 10px;
                    position: relative;
                    text-transform: uppercase;
                    top: 10px;
                    width: 130px;
                    z-index: 5;
                }
            }
            .info {
                color: $main-greyb;
                margin: 0 auto 20px;
                max-width: 350px;
                h3 {
                    @extend .robotoBold;
                    color: #000;
                    font-size: 24px;
                    margin: 5px 0 0 0;
                }
                span {
                    @extend .robotoBold;
                    color: #000;
                    font-size: 14px;
                    display: block;
                    margin-bottom: 10px; 
                }
                p {
                    @extend .robotoRegular;
                    color: #000;
                }
            }
        }
    }
    #addsSearch {
        margin-top: 20px;
        .form-control:focus {
            box-shadow: 0 0 0 0;
            border-color: #ccc;
        }
        form {
            @extend .dBlock;
            width: 70%;
            input {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            button {
                border-left: none;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                &:focus {
                    outline:none;
                }
            }
        }
    }
    #loadMoreButtonContainer {
        margin-top: 50px;
    }
    #mainAd {
        margin-top: 20px;
        > div:first-of-type {
            float: none;
            overflow: hidden;
            margin: 0 auto;
            max-width: 400px;
            padding: 0;
            position: relative;
            width: 100%;
            .cropImg {
                margin: 0 auto;
                height: 350px;
                width: 420px;   
            }
            section {
                background: rgba($main-green, 0.8);
                bottom: 0;
                color: #FFF;
                left: 0;
                padding: 10px 0;
                position: absolute;
                text-align: center;
                width: 100%;
                h2 {
                    @extend .robotoBold;
                    font-size: 30px;
                    margin: 0;
                    text-transform: uppercase;
                }
                p {
                    @extend .robotoRegular;
                    margin: 0;
                }
            }
        }
        > div:last-of-type {
            float: none;
            background: $contact-back;
            margin: 0 auto;
            max-width: 400px;
            padding: 20px;
            width: 100%;
            p {
                @extend .robotoBold;
                color: #313131;
                line-height: 14px;
                margin: 0;
                &.desc {
                    @extend .robotoRegular;
                    margin: 10px 0;
                    line-height: 17px;
                }
            }
        }
    }
}

#addsForm {
    margin-top: 30px;
    h2 {
        @extend .robotoBold;
        color: $main-green;
        font-size: 24px;
        margin: 5px 0;
    }
    > p {
        @extend .robotoRegular;
    }
    label {
        @extend .dInline;
        color: $main-green;
        font-weight: normal;
        &.big {
            @extend .robotoBold;
            font-size: 20px;
            span {
                @extend .robotoRegular;
                display: block;
                color: #000;
                font-size: 14px;
            }
            sup {
                font-size: 18px;
                color: #000;
            }
        }
    }
    textarea {
        height: 100px !important;
    }
    .customButton {
        margin-bottom: 25px;
        #imageFile {
            @include truncate(100px);
            background: #FFF;
            border: 1px solid #DCE1DD;
            box-sizing: border-box;
            height: 30px;           
            padding: 5px 0;
            text-align: center;
            width: 200px;
        }
        > span {
            @include greenButton(130px);
            cursor: pointer;
            display: block;
            font-size: 18px;
        }
        input {
            display: none;
        }
    }
    .customSelect {
        @extend .dBlock;
        position: relative;
        width: 280px;
        label {
            width: 90px;
        }
        div {
            @extend .dInline;
            cursor: pointer;
            position: relative;
            margin-left: 4px;
            .customInput {
                background: #FFF;
                border: 1px solid #DCE1DD;
                box-sizing: border-box;
                height: 30px;  
                overflow: hidden;
                padding: 5px 0;
                text-align: center;
                width: 150px;
                &:after {
                    content: "";
                    background: $main-green url('/img/sprite.png') -223px -31px no-repeat;
                    height: 28px;
                    position: absolute;
                    right: -30px;
                    top: 0;
                    width: 30px;
                }
            }
            ul {
                @extend .reset;
                background: #FFF;
                border: 1px solid #DCE1DD;
                display: none;
                left: 0px;
                position: absolute;
                top: 28px;
                z-index: 20;
                li {
                    list-style-type: none;
                    text-align: center;
                    width: 150px;
                    &:hover {
                        background: $main-green;
                        color: #FFF;
                        cursor: pointer;
                    }
                }
            }
        }
        select {
            display: none;
        }
    }
    #send {
        @include greenButton(140px);
        @extend .dBlock;
        margin: 20px auto;
    }
    #terms {
        @extend .robotoRegular;
        display: block;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
        a {
            color: #000;
            font-weight: bold;
        }
    }  
}

#moreCategories {
    .customSelect {
        @extend .dBlock;
        position: relative;
        width: 280px;
        label {
            @extend .robotoBold;
            color: $main-green;
            display: block;
            font-size: 18px;
            text-transform: uppercase;
        }
        div {
            display: block;
            cursor: pointer;
            position: relative;
            margin: 6px auto 10px;
            width: 200px;
            .customInput {
                background: #FFF;
                border: 1px solid #DCE1DD;
                box-sizing: border-box;
                color: #787878;
                height: 30px;  
                overflow: hidden;                
                padding: 5px 0;
                text-align: center;
                width: 200px;
                &:after {
                    content: "";
                    background: $main-green url('/img/sprite.png') -223px -31px no-repeat;
                    height: 28px;
                    position: absolute;
                    right: -30px;
                    top: 0;
                    width: 30px;
                }
            }
            ul {
                @extend .reset;
                background: #FFF;
                border: 1px solid #DCE1DD;
                display: none;
                left: 0px;
                position: absolute;
                top: 28px;
                z-index: 20;
                li {
                    list-style-type: none;
                    text-align: center;
                    width: 200px;
                    &:hover {
                        background: $main-green;
                        color: #FFF;
                        cursor: pointer;
                    }
                    a {
                        color: #787878;
                        display: block;
                          -webkit-transition: none;
                          -moz-transition: none;
                          -o-transition: none;
                          transition: none;
                        width: 100%;
                        &:hover {
                            color: #FFF;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        select {
            display: none;
        }
    }
}
#publishAd {
    img {
        @extend .dBlock;
        margin: 20px auto 30px;
        max-width: 360px;
        width: 100%;
    }
}

@media screen and (min-width: 480px){ 
    #addsContent {
        #addsLast {
            .itemAd {
                float: left;
                margin-left: 2%;
                max-width: none;
                width: 48%;
            }
        }
    }
}
@media screen and (min-width: 768px){ 
    #moreCategories {    
        >section {
            margin: 0 auto;
            width: 730px;
        }
        .customSelect {
            display: inline-block;
            position: relative;
            width: 350px;
            &:nth-child(odd) {
                margin-left: 25px;
            }
            label {
                display: inline-block;
                vertical-align: top;
                width: 110px;
            }
            div {
                display: inline-block;
                margin: 0;
                vertical-align: top;
            }
        }
    }
    #addsForm {
        .customSelect, .halfInput {
            display: inline-block;
            width: 49%;    
        }
        .customSelect {
            max-width: 304px;
        }
        #telInput {
            margin-left: 1%;
        }
    }
    #addsContent {
        margin: 0 auto;
        max-width: 720px;
        #addsCategory {
            section {
                display: inline-block;
                float:none;
                margin-top: 15px;
                vertical-align: top;
                width: 45%;
                &:nth-child(even) {
                    margin-left: 9%;
                }
            }
            h3 {
                background: $main-green;
                color: #FFF;
                font-size: 20px;
                margin: 5px 0 10px;
                padding: 4px 0 4px 10px;
                text-transform: uppercase;
            }
            p {
                margin: 0 0 2px 0;
                a {
                    color: #000;
                    padding-left: 10px;
                }
            }
        }
        #addsLast {
            .itemAd {
                margin-left: 0;
                max-width: 700px;
                width: 100%;
                .cropImg {
                    height: 210px;
                    margin: 0;
                    width: 325px;
                }
            }
        }
        #mainAd {
            > div:first-of-type,
            > div:last-of-type{
                float: left;
                margin: 0;
                width: 50%;
            }
            > div:last-of-type {
                height: 350px;
            }
        }
    }
}

@media screen and (min-width: 992px){ 
    #addsForm {
        .halfInput {  
            width: 45%;        
        }
        #telInput {
            margin-left: 9%;
        }
    }
    #moreCategories {    
        > section {
            margin: 0;
            width: auto;
        }
        .customSelect {
            display: block;
            margin: 0;
            width: 350px;
            &:nth-child(odd) {
                margin-left: 0px;
            }
            label, div {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 1200px){
    #moreCategories {    
        > section {
            margin: 0;
            width: auto;
        }
        .customSelect {
            display: inline-block;
            margin: 5px 0;
            width: 350px;
            &:nth-child(odd) {
                margin-left: 0px;
            }
            label {
                width: 120px;
            }
            label, div {
                display: inline-block;
            }
        }
    }
}