.searchHover {
    &:hover {
        .info h3 {
            color: $main-green;
        }
    }
}
#static {
    > div {
        padding: 15px;
        text-align: left;
        h3 {
            @extend .robotoBold;
            color: $main-green;
            margin: 0 0 10px 0;
        }
        p {
            margin: 0 0 20px 0;
            width: 100%;
            span {
                @extend .robotoBold;
                color: $main-green;
            }
        }
        ul {
            color: $main-green;
            margin: 10px 0;
            span {
                color: #333;
            }
        }
    }
}

#printContainer {
    padding: 20px;
    .moduleTop {
        padding-bottom: 10px;
        margin-bottom: 30px;
        form {
            margin-top: 60px;
            clear: both;
            float: none;
        }
        button {
            display: block;
            margin: 0 auto;
        }
    }
    > img {
        display: block;
        margin: 0 auto;
        max-width: 250px;
    }
}

@media screen and (min-width: 480px){ 
    #printContainer {
        .moduleTop {
            form {
                clear: none;
                float: right;
                margin: 0;
                width: 280px;
                .form-group {
                    display: inline-block;
                    margin: 0;
                    vertical-align: bottom;
                    width: 200px;
                    label, input {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    label {
                        width: 25%;
                    }
                    input {
                        width: 70%;
                    }
                }
                button {
                    display: inline-block;
                    vertical-align: bottom;
                    width: 70px;
                }
            }
        }
        > img {
            max-width: 400px;
        }
    }
}
@media screen and (min-width: 768px){ 
    #printContainer {
        .moduleTop {
            form {
                width: 350px;
                .form-group {
                    width: 270px;
                }
            }
        }
    }
}