@charset "UTF-8";
/* Estilos Base
–––––––––––––––––––––––––––––––––––––––––––– */
@import url(/css/plugins/normalize/normalize.css);
@import url(/css/plugins/bootstrap/bootstrap.min.css);
/* Plugins 
–––––––––––––––––––––––––––––––––––––––––––– */
@import url(/css/plugins/bootstrap/bootstrap-datepicker.css);
@import url(/css/plugins/royalslider/royalslider.css);
@import url(/css/plugins/royalslider/rs-default.css);
@import url(/css/plugins/iCheck/green.css);
@import url(/css/plugins/mightyslider/mightyslider.css);
@import url(/css/plugins/hoverEffect/style.css);
/* Estilos Personalizados
–––––––––––––––––––––––––––––––––––––––––––– */
.dBlock, footer #bottom #footerLogo img, footer #bottom #footerText p, #addsContent #addsCategory section, #addsContent #addsSearch form, #addsForm .customSelect, #addsForm #send, #moreCategories .customSelect, #publishAd img {
  display: block;
  margin: 0 auto; }

.dInline, footer #footerMenu ul li, footer #bottom #links ul li, header #middle #weather div, header #top > a, header #top > div, #rightContent .module_test .test form input[type="radio"], #rightContent .module_test .test form label, #noteContainer #lectureControl a, #noteContainer #module_tags ul li, #addsForm label, #addsForm .customSelect div {
  display: inline-block;
  vertical-align: middle; }

.opacityBlack, #module_style #styleMain #main section, #module_style #styleMain .subMains section, #module_ticket #ticketCarrousel .slide section {
  background: rgba(0, 0, 0, 0.5); }

.opacityGreen, #module_gallery .mainImage section, #module_main_category .mainImage section, #module_main_note .mainImage section, #module_main #newCarrousel .slide .mainImage section, #module_sport #sportCarrousel .slide .mainImage section {
  background: rgba(50, 157, 46, 0.8); }

.reset, footer #footerMenu ul, footer #bottom #links ul, header nav.navbar-default .navbar-nav, header nav.navbar-default .navbar-collapse, header .row, header #middle #slogan h2, #carrousel .row, #carrousel .other, #rightContent .module_column .grid, .module_notes_category > div > div, #module_author_notes > div > div, #noteContainer #module_tags ul, #author #module_author_info figure figcaption h3, #author #module_author_info figure figcaption p, #addsForm .customSelect div ul, #moreCategories .customSelect div ul {
  margin: 0;
  padding: 0; }

.roboto, body, #noteContainer #module_author #bio {
  font-family: 'robotoregular'; }

.robotoBold, header nav.navbar-default .navbar-nav li a, header nav.navbar-default .navbar-collapse li a, header #middle #slogan, header #middle #weather h3, .moduleTop h2, #module_gallery .mainImage section h2, #module_main_category .mainImage section h2, #module_main_note .mainImage section h2, #module_gallery #gallerySec > div > div .info h3, #module_main_category #gallerySec > div > div .info h3, #module_main_note #gallerySec > div > div .info h3, #module_main #newCarrousel .slide .mainImage section h2, #module_main #newCarrousel .slide .news .info h3, #module_main #newCarrousel .slide .itemAd .info h3, #module_sport #sportCarrousel .slide .mainImage section h2, #module_sport #sportSec h3, #module_sport #sportSec p, #module_style #styleMain #main section h2, #module_style #styleMain #main section p, #module_style #styleMain .subMains section h2, #module_style #styleMain .subMains section p, #module_style #styleSec h3, #module_style #styleSec p, #module_ticket #ticketCarrousel .slide section h2, #module_ticket #ticketCarrousel .slide section p, #rightContent .rightTitle, #rightContent .module_classified .adds h2, #rightContent .module_classified .adds > .row.add h3, #rightContent .module_minute .title, #rightContent .module_news h3, #rightContent .module_test .test h3, #rightContent .module_test .test label, #module_tittle_category h1, #module_tittle_category #breadcrumb, .module_notes_category > div > div .info h3, #module_author_notes > div > div .info h3, #noteContainer #resume, #noteContainer #module_author h2, #noteContainer #module_author p, #noteContainer #module_related > h3, #noteContainer #module_related .note h3, #noteContainer #module_tags h3, #noteContainer #module_video #videoGallery .mSSlide, #contact > h2, #static > h2, #contact > p:last-of-type a, #static > p:last-of-type a, #contact .block label, #static .block label, #directory .employee h2, #author #module_author_info figure figcaption h3, #static > div h3, #static > div p span, #addsContent #addsCategory h3, #addsContent #addsLast h2, #addsContent #addsLast .itemAd .cropImg .category, #addsContent #addsLast .itemAd .info h3, #addsContent #addsLast .itemAd .info span, #addsContent #mainAd > div:first-of-type section h2, #addsContent #mainAd > div:last-of-type p, #addsForm h2, #addsForm label.big, #moreCategories .customSelect label {
  font-family: 'roboto_condensedbold'; }

.robotoRegular, header nav.navbar-default .navbar-nav .dropdown-menu li a, header nav.navbar-default .navbar-collapse .dropdown-menu li a, #module_gallery .mainImage section p, #module_main_category .mainImage section p, #module_main_note .mainImage section p, #module_gallery #gallerySec > div > div .info span, #module_main_category #gallerySec > div > div .info span, #module_main_note #gallerySec > div > div .info span, #module_main #newCarrousel .slide .mainImage section p, #module_main #newCarrousel .slide .news .info span, #module_main #newCarrousel .slide .itemAd .info span, #module_sport #sportCarrousel .slide .mainImage section p, #module_sport #sportSec p, #module_style #styleSec p, #rightContent .module_classified .adds > .row.add p, #rightContent .module_minute .date, #rightContent .module_minute .time, #rightContent .module_minute .sub, #rightContent .module_news span, #module_tittle_category h1 span, .module_notes_category > div > div .info span, #module_author_notes > div > div .info span, #noteContainer #module_related .note p, #contact > div, #static > div, #contact > p, #static > p, #contact form .send input, #static form .send input, #directory .employee p, #author #module_author_info figure figcaption p, #addsContent #addsCategory p, #addsContent #addsLast .itemAd .info p, #addsContent #mainAd > div:first-of-type section p, #addsContent #mainAd > div:last-of-type p.desc, #addsForm > p, #addsForm label.big span, #addsForm #terms {
  font-family: 'roboto_condensedregular'; }

.sprite, header #top > div#social a, .calendar, .calendarBlack, #noteContainer #module_author .profile, #noteContainer #module_slider #sliderGallery .rsThumbsArrow.rsThumbsArrowLeft .rsThumbsArrowIcn, #noteContainer #module_slider #sliderGallery .rsThumbsArrow.rsThumbsArrowRight .rsThumbsArrowIcn, #noteContainer #module_video .mightyslider_modern_skin .mSButtons, #directory .employee h2 a.mail {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: inline-block; }

.transition, #noteContainer #lectureControl a, #noteContainer #module_related .hoverNoteRelated:hover, #addsForm .customButton > span, #addsForm #send {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.eot");
  src: url("../fonts/robotocondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-bold-webfont.woff") format("woff"), url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/robotocondensed-regular-webfont.eot");
  src: url("../fonts/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-regular-webfont.woff") format("woff"), url("../fonts/robotocondensed-regular-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
a:hover {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  a:hover * {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

footer #bottom .row {
  margin: 0; }
footer #bottom #footerLogo img {
  margin: 15px auto 10px;
  width: 200px; }
footer #bottom #footerText {
  margin: 10px 0; }
  footer #bottom #footerText p {
    color: #333;
    font-size: 0.8em;
    text-align: center;
    width: 80%; }
footer #bottom #links {
  border-bottom: 0px !important; }
footer #footerMenu, footer #bottom #links {
  border-top: 1px solid #787878;
  border-bottom: 1px solid #329d2e;
  padding: 0; }
  footer #footerMenu ul li, footer #bottom #links ul li {
    text-align: center;
    width: 49%; }
    footer #footerMenu ul li a, footer #bottom #links ul li a {
      color: #000;
      display: block;
      font-size: 0.8em;
      padding: 6px 0;
      text-transform: uppercase;
      text-decoration: none; }
      footer #footerMenu ul li a:hover, footer #bottom #links ul li a:hover {
        background: #329d2e;
        color: #FFF; }
    footer #footerMenu ul li#goTop, footer #bottom #links ul li#goTop {
      border-top: 1px solid #787878;
      width: 100%; }
      footer #footerMenu ul li#goTop a, footer #bottom #links ul li#goTop a {
        color: #999; }
        footer #footerMenu ul li#goTop a:hover, footer #bottom #links ul li#goTop a:hover {
          color: #FFF; }

header nav.navbar-default {
  background: #FFF;
  border-left: none;
  border-right: none;
  border-top: 1px solid #329d2e;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0px;
  margin: 0; }
  header nav.navbar-default .navbar-brand {
    cursor: pointer; }
    header nav.navbar-default .navbar-brand:hover {
      background: #329d2e;
      color: #FFF; }
  header nav.navbar-default .navbar-toggle:hover, header nav.navbar-default .navbar-toggle:focus, header nav.navbar-default .navbar-toggle.active {
    background: #329d2e; }
    header nav.navbar-default .navbar-toggle:hover span, header nav.navbar-default .navbar-toggle:focus span, header nav.navbar-default .navbar-toggle.active span {
      background-color: #FFF; }
  header nav.navbar-default .navbar-nav li a, header nav.navbar-default .navbar-collapse li a {
    color: #000;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase; }
    header nav.navbar-default .navbar-nav li a:hover, header nav.navbar-default .navbar-nav li a.active, header nav.navbar-default .navbar-collapse li a:hover, header nav.navbar-default .navbar-collapse li a.active {
      background: #329d2e;
      color: #FFF; }
  header nav.navbar-default .navbar-nav li#home, header nav.navbar-default .navbar-collapse li#home {
    display: none; }
  header nav.navbar-default .navbar-nav .dropdown-menu, header nav.navbar-default .navbar-collapse .dropdown-menu {
    border: 1px solid transparent;
    border-radius: 0px;
    margin-left: -80px;
    padding: 0;
    left: 50%;
    width: 160px; }
    header nav.navbar-default .navbar-nav .dropdown-menu li a, header nav.navbar-default .navbar-collapse .dropdown-menu li a {
      font-size: 12px;
      padding: 10px; }
header .form-control:focus {
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  border-color: #ccc; }
header #middle {
  padding: 8px 0; }
  header #middle #logo img {
    display: block;
    margin: 15px auto;
    max-width: 280px;
    width: 100%; }
  header #middle #search {
    display: none;
    padding: 15px; }
    header #middle #search button {
      border-left: none;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px; }
    header #middle #search input {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px; }
    header #middle #search .btn-default.focus, header #middle #search .btn-default:focus {
      outline: none; }
  header #middle #slogan {
    color: #619c3b;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase; }
    header #middle #slogan h2 {
      font-size: 1.2em; }
      header #middle #slogan h2 a {
        color: #329d2e; }
  header #middle #weather {
    text-align: center;
    text-transform: uppercase; }
    header #middle #weather div {
      margin: 0 0 0 5px;
      vertical-align: top; }
    header #middle #weather h3 {
      color: #000;
      font-size: 14px;
      margin: 0; }
    header #middle #weather img {
      width: 30px; }
    header #middle #weather p {
      color: #787878;
      margin: 0; }
header #top {
  padding: 8px 0;
  text-align: center; }
  header #top > a, header #top > div {
    color: #787878; }
  header #top > div {
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase; }
    header #top > div#social {
      text-align: center; }
      header #top > div#social a {
        height: 20px;
        width: 20px; }
        header #top > div#social a:hover {
          -webkit-transition: all 0s;
          -moz-transition: all 0s;
          -o-transition: all 0s;
          transition: all 0s; }
      header #top > div#social #facebook {
        background-position: -5px -5px; }
        header #top > div#social #facebook:hover {
          background-position: -5px -25px; }
      header #top > div#social #instagram {
        background-position: -46px -5px; }
        header #top > div#social #instagram:hover {
          background-position: -46px -25px; }
      header #top > div#social #twitter {
        background-position: -27px -4px; }
        header #top > div#social #twitter:hover {
          background-position: -27px -24px; }

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 4px #329d2e; }

@media screen and (min-width: 768px) {
  footer #bottom {
    margin-top: 15px; }
    footer #bottom #footerText {
      margin: 0 0 15px 0; }
      footer #bottom #footerText p {
        font-size: 0.9em; }
    footer #bottom #links {
      padding-top: 10px; }
      footer #bottom #links ul li {
        width: 24%; }
  footer #footerMenu ul li {
    width: 19%; }

  header nav.navbar-default .navbar-nav, header nav.navbar-default .navbar-collapse {
    margin: 0 auto;
    max-width: 992px; }
  header #middle > div {
    margin: 30px 0 20px 0;
    padding: 0; }
  header #middle #logo img {
    display: block;
    margin: 0 auto;
    max-width: 396px;
    width: 100%; }
  header #middle #search {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 315px;
    width: 100%; }
  header #middle #slogan {
    margin-top: 15px; }
  header #top {
    margin-top: 15px; }
    header #top > div {
      max-width: 250px; } }
@media screen and (min-width: 992px) {
  footer #bottom #footerLogo img {
    margin-top: 10px; }
  footer #bottom #footerText p {
    text-align: left; }
  footer #bottom #links {
    border-top: none;
    padding: 0; }
    footer #bottom #links ul li {
      width: 48%; }

  header nav.navbar-default .navbar-collapse li a {
    padding: 15px 12px; }

  header nav.navbar-default .navbar-collapse li#home {
    display: block; }
    header nav.navbar-default .navbar-collapse li#home a {
      padding: 15px 10px; }

  .navbar-header {
    display: none; } }
@media screen and (min-width: 1200px) {
  footer #bottom #footerLogo img {
    margin-top: 5px; }
  footer #bottom #footerText {
    padding-top: 12px; }
  footer #bottom .row {
    margin: 0 auto;
    max-width: 1100px; }
  footer #footerMenu {
    border-top: none; }
    footer #footerMenu ul {
      margin: 0 auto;
      max-width: 1100px; }
      footer #footerMenu ul li {
        width: auto; }
        footer #footerMenu ul li#goTop {
          border-top: none;
          width: auto; }
        footer #footerMenu ul li a {
          padding: 5px 15px 5px; }

  header nav.navbar-default .navbar-nav, header nav.navbar-default .navbar-collapse {
    max-width: 1100px;
    width: 1100px; }
    header nav.navbar-default .navbar-nav li a, header nav.navbar-default .navbar-collapse li a {
      padding: 15px 17px; }
  header #middle {
    margin: 0 auto;
    max-width: 1400px; }
    header #middle #slogan {
      display: block; }
    header #middle #logo a {
      display: block;
      margin: 0 auto;
      max-width: 396px;
      width: 100%; } }
@media screen and (max-width: 991px) {
  header nav.navbar-default .navbar-nav .dropdown-menu {
    box-shadow: none;
    border: none;
    position: relative;
    left: auto;
    float: none;
    margin: 0 !important;
    width: 100%; }
    header nav.navbar-default .navbar-nav .dropdown-menu li {
      border-bottom: 1px solid #e4e4e4;
      width: 100%; }
      header nav.navbar-default .navbar-nav .dropdown-menu li:hover {
        background: #329d2e; }
  header nav.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000; }
    header nav.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #FFF; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
    .navbar-collapse.collapse {
      display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }
    .navbar-nav > li {
      float: none; }
      .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; } }
.caroufredsel_wrapper {
  cursor: default !important;
  margin: 0 auto; }

.calendar, .calendarBlack {
  background-position: -95px -30px;
  height: 16px;
  vertical-align: middle;
  width: 20px; }

.calendarBlack {
  background-position: -165px -9px; }

.cropImg {
  height: 410px;
  position: relative;
  overflow: hidden;
  width: 450px; }
  .cropImg > img {
    position: absolute;
    left: 45%;
    top: 50%;
    height: 100%;
    min-height: auto !important;
    width: auto !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

#carrousel a.hoverBox:hover section {
  background: rgba(0, 0, 0, 0.8); }
#carrousel .item {
  overflow: hidden;
  padding: 0;
  position: relative; }
  #carrousel .item section {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    color: #FFF;
    cursor: pointer;
    left: 0px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    width: 100%; }
    #carrousel .item section h3 {
      margin: 10px 0; }
    #carrousel .item section p {
      font-size: 0.8em; }
  #carrousel .item .category {
    background: #FFF;
    color: #FFF;
    left: 0;
    position: absolute;
    top: 20px; }
    #carrousel .item .category img {
      max-height: 30px; }
#carrousel .row {
  float: left;
  width: 100%; }
#carrousel .other {
  padding: 0; }

#prev, #next {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #FFF;
  display: none !important;
  font-size: 35px;
  height: 50px;
  left: 10px;
  padding: 3px 2px 0 0;
  right: auto;
  text-align: center;
  width: 50px; }
  #prev:hover, #next:hover {
    background: rgba(0, 0, 0, 0.9); }

#next {
  left: auto;
  right: 10px; }

#template1, #template3 {
  margin: 50px auto 0;
  position: relative;
  overflow-x: hidden;
  max-width: 440px; }
  #template1 img, #template3 img {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF; }
  #template1 .caroufredsel_wrapper, #template3 .caroufredsel_wrapper {
    height: 2050px !important; }

#template2 {
  margin: 50px auto 0;
  max-width: 440px;
  position: relative;
  overflow-x: hidden; }
  #template2 img {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF; }
  #template2 .caroufredsel_wrapper {
    height: 1640px !important; }

#template4 {
  margin: 50px auto 0;
  max-width: 440px;
  position: relative;
  overflow-x: hidden; }
  #template4 img {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF; }
  #template4 .caroufredsel_wrapper {
    height: 1230px !important; }

@media screen and (min-width: 768px) {
  #carrousel .item {
    border: 1px solid #FFF;
    border-bottom: none; }
    #carrousel .item section {
      max-width: none; }

  #prev, #next {
    display: block !important;
    position: absolute;
    top: 50%; }

  #template1 {
    max-width: 1162px;
    margin: 0 auto;
    width: 100%; }
    #template1 .caroufredsel_wrapper {
      height: 400px !important;
      max-width: none; }
    #template1 .main .cropImg {
      height: 400px;
      width: 500px; }
    #template1 .other .cropImg {
      height: 200px;
      width: 250px; }

  #template2 {
    max-width: 1162px;
    margin: 0 auto;
    width: 100%; }
    #template2 .caroufredsel_wrapper {
      height: 350px !important;
      max-width: none; }
    #template2 .cropImg {
      height: 350px;
      width: 320px; }

  #template3 {
    max-width: 1162px;
    margin: 0 auto;
    width: 100%; }
    #template3 .caroufredsel_wrapper {
      height: 500px !important;
      max-width: none; }
    #template3 .main .cropImg {
      height: 300px;
      width: 520px; }
    #template3 .other .cropImg {
      height: 300px;
      width: 360px; }
    #template3 .other.item section {
      bottom: 100px; }

  #template4 {
    max-width: 1162px;
    margin: 0 auto;
    width: 100%; }
    #template4 .caroufredsel_wrapper {
      height: 400px !important;
      max-width: none; }
    #template4 .main .cropImg {
      height: 440px;
      width: 700px; }
    #template4 .main.item section {
      bottom: 40px; }
    #template4 .other .cropImg {
      height: 200px;
      width: 340px; }
    #template4 .row {
      width: 100%; } }
@media screen and (min-width: 992px) {
  #template1 .caroufredsel_wrapper {
    height: 560px !important; }
  #template1 .main .cropImg {
    height: 560px;
    width: 610px; }
  #template1 .other .cropImg {
    height: 280px;
    width: 300px; }

  #template2 .caroufredsel_wrapper {
    height: 450px !important; }
  #template2 .cropImg {
    height: 450px;
    width: 400px; }

  #template3 .caroufredsel_wrapper {
    height: 650px !important; }
  #template3 .main .cropImg {
    height: 370px;
    width: 640px; }
  #template3 .other .cropImg {
    height: 370px;
    width: 420px; }
  #template3 .other.item section {
    bottom: 90px; }

  #template4 .caroufredsel_wrapper {
    height: 450px !important; }
  #template4 .main .cropImg {
    height: 550px;
    width: 800px; }
  #template4 .main.item section {
    bottom: 100px; }
  #template4 .other .cropImg {
    height: 225px;
    width: 400px; } }
@media screen and (min-width: 1200px) {
  #template1 .caroufredsel_wrapper {
    height: 720px !important; }
  #template1 .main .cropImg {
    height: 720px;
    width: 1020px; }
  #template1 .other .cropImg {
    height: 360px;
    width: 480px; }

  #template2 .caroufredsel_wrapper {
    height: 550px !important; }
  #template2 .cropImg {
    height: 550px;
    width: 550px; }

  #template3 {
    max-width: 1100px; }
    #template3 .main .cropImg {
      width: 750px; }
    #template3 .other .cropImg {
      width: 520px; }
    #template3 .other.item section {
      bottom: 90px; }

  #template4 {
    max-width: 1100px; }
    #template4 .caroufredsel_wrapper {
      height: 520px !important; }
    #template4 .main .cropImg {
      height: 670px;
      width: 1000px; }
    #template4 .main.item section {
      bottom: 150px; }
    #template4 .other .cropImg {
      height: 260px;
      width: 500px; } }
#sports .item section:hover {
  background: rgba(81, 163, 255, 0.8); }

/* Estilos Sitio
–––––––––––––––––––––––––––––––––––––––––––– */
.moduleTop {
  border-bottom: 1px solid #e4e4e4;
  height: auto;
  overflow: auto; }
  .moduleTop h2 {
    color: #619c3b;
    float: left;
    font-size: 24px;
    margin: 5px 0;
    text-transform: uppercase; }
  .moduleTop > div {
    float: right; }
    .moduleTop > div a {
      border: 1px solid #e4e4e4;
      color: #333;
      display: inline-block;
      height: 20px;
      text-align: center;
      width: 18px; }
      .moduleTop > div a:hover {
        border: 1px solid #333; }

.module_banner_main {
  margin: 20px auto;
  display: none;
  width: 728px; }
  .module_banner_main img {
    width: 100%; }

#container {
  box-shadow: 0px 0px 4px #777;
  margin: 10px auto 20px;
  max-width: 1160px;
  padding-bottom: 20px; }
  #container .row {
    margin: 0; }
  #container #date {
    font-weight: bold;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 15px; }
  #container #mainContent .slide, #container #mainContent .note {
    position: relative; }
    #container #mainContent .slide .category, #container #mainContent .note .category {
      color: #FFF;
      left: 0;
      position: absolute;
      top: 20px; }
      #container #mainContent .slide .category img, #container #mainContent .note .category img {
        background: rgba(255, 255, 255, 0.8);
        max-height: 45px;
        max-width: 90px;
        padding: 4px 5px;
        width: 100%; }

#module_gallery, #module_main_category, #module_main_note {
  margin: 20px 0; }
  #module_gallery .mainImageHover:hover section, #module_main_category .mainImageHover:hover section, #module_main_note .mainImageHover:hover section {
    background: #329d2e; }
  #module_gallery .mainImage, #module_main_category .mainImage, #module_main_note .mainImage {
    height: 300px;
    position: relative; }
    #module_gallery .mainImage section, #module_main_category .mainImage section, #module_main_note .mainImage section {
      bottom: 0px;
      color: #FFF;
      cursor: pointer;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%; }
      #module_gallery .mainImage section h2, #module_main_category .mainImage section h2, #module_main_note .mainImage section h2 {
        font-size: 0.9em;
        margin: 5px 0;
        text-transform: uppercase; }
      #module_gallery .mainImage section p, #module_main_category .mainImage section p, #module_main_note .mainImage section p {
        margin: 5px 0; }
    #module_gallery .mainImage .cropImg, #module_main_category .mainImage .cropImg, #module_main_note .mainImage .cropImg {
      height: 300px;
      width: 440px; }
  #module_gallery #gallerySec, #module_main_category #gallerySec, #module_main_note #gallerySec {
    margin: 0 auto;
    width: 285px; }
    #module_gallery #gallerySec .gallerySecHover, #module_main_category #gallerySec .gallerySecHover, #module_main_note #gallerySec .gallerySecHover {
      text-decoration: none; }
      #module_gallery #gallerySec .gallerySecHover:hover h3, #module_main_category #gallerySec .gallerySecHover:hover h3, #module_main_note #gallerySec .gallerySecHover:hover h3 {
        color: #329d2e; }
    #module_gallery #gallerySec > div > div, #module_main_category #gallerySec > div > div, #module_main_note #gallerySec > div > div {
      padding: 0; }
      #module_gallery #gallerySec > div > div .cropImg, #module_main_category #gallerySec > div > div .cropImg, #module_main_note #gallerySec > div > div .cropImg {
        height: 160px;
        margin: 10px auto 0;
        width: 320px; }
      #module_gallery #gallerySec > div > div .info, #module_main_category #gallerySec > div > div .info, #module_main_note #gallerySec > div > div .info {
        max-width: 350px;
        margin: 0 auto; }
        #module_gallery #gallerySec > div > div .info h3, #module_main_category #gallerySec > div > div .info h3, #module_main_note #gallerySec > div > div .info h3 {
          color: #000;
          font-size: 1em;
          margin: 5px 0 0 0; }
        #module_gallery #gallerySec > div > div .info span, #module_main_category #gallerySec > div > div .info span, #module_main_note #gallerySec > div > div .info span {
          color: #313131;
          display: block;
          margin-bottom: 10px; }
        #module_gallery #gallerySec > div > div .info p, #module_main_category #gallerySec > div > div .info p, #module_main_note #gallerySec > div > div .info p {
          color: #313131;
          padding-right: 10px; }
  #module_gallery #galleryContainer, #module_main_category #galleryContainer, #module_main_note #galleryContainer {
    margin: 10px auto 0;
    max-width: 440px;
    overflow: hidden; }

#module_main {
  margin-top: 20px; }
  #module_main .caroufredsel_wrapper {
    box-sizing: content-box;
    max-width: none;
    padding-bottom: 40px !important; }
  #module_main #newCarrousel .slide {
    float: left; }
    #module_main #newCarrousel .slide .mainImageHover:hover section {
      background: #329d2e; }
    #module_main #newCarrousel .slide .mainImage {
      height: 300px;
      position: relative; }
      #module_main #newCarrousel .slide .mainImage section {
        bottom: 0px;
        color: #FFF;
        cursor: pointer;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%; }
        #module_main #newCarrousel .slide .mainImage section h2 {
          font-size: 0.9em;
          margin: 5px 0;
          text-transform: uppercase; }
        #module_main #newCarrousel .slide .mainImage section p {
          margin: 5px 0; }
      #module_main #newCarrousel .slide .mainImage .cropImg {
        height: 300px;
        width: 440px; }
    #module_main #newCarrousel .slide .news, #module_main #newCarrousel .slide .itemAd {
      margin: 20px auto 0;
      overflow: hidden;
      max-width: 285px; }
      #module_main #newCarrousel .slide .news .newsHover:hover h3, #module_main #newCarrousel .slide .itemAd .newsHover:hover h3 {
        color: #329d2e; }
      #module_main #newCarrousel .slide .news section > div, #module_main #newCarrousel .slide .itemAd section > div {
        padding: 0; }
      #module_main #newCarrousel .slide .news .cropImg, #module_main #newCarrousel .slide .itemAd .cropImg {
        height: 160px;
        margin: 0 auto;
        width: 320px; }
      #module_main #newCarrousel .slide .news .info, #module_main #newCarrousel .slide .itemAd .info {
        color: #313131;
        margin: 0 auto 20px;
        max-width: 350px; }
        #module_main #newCarrousel .slide .news .info h3, #module_main #newCarrousel .slide .itemAd .info h3 {
          color: #000;
          font-size: 1em;
          margin: 5px 0 0 0; }
        #module_main #newCarrousel .slide .news .info span, #module_main #newCarrousel .slide .itemAd .info span {
          display: block;
          margin-bottom: 10px; }
  #module_main #newCarrouselContainer {
    margin: 10px auto 0;
    max-width: 440px; }

#module_sport #sportCarrousel .slide {
  float: left; }
  #module_sport #sportCarrousel .slide .mainImageHover:hover section {
    background: #329d2e; }
  #module_sport #sportCarrousel .slide .mainImage {
    height: 300px;
    position: relative; }
    #module_sport #sportCarrousel .slide .mainImage section {
      bottom: 0px;
      color: #FFF;
      cursor: pointer;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%; }
      #module_sport #sportCarrousel .slide .mainImage section h2 {
        font-size: 0.9em;
        margin: 5px 0;
        text-transform: uppercase; }
      #module_sport #sportCarrousel .slide .mainImage section p {
        margin: 5px 0; }
    #module_sport #sportCarrousel .slide .mainImage .cropImg {
      height: 300px;
      width: 440px; }
#module_sport #sportNav {
  margin: 10px auto 30px;
  width: 40px; }
  #module_sport #sportNav a {
    border: 1px solid #e4e4e4;
    color: #333;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 18px; }
    #module_sport #sportNav a:hover {
      border: 1px solid #333; }
#module_sport #sportSec {
  margin: 10px auto 0;
  max-width: 400px; }
  #module_sport #sportSec .sportsSecHover {
    text-decoration: none; }
    #module_sport #sportSec .sportsSecHover:hover h3 {
      color: #329d2e; }
  #module_sport #sportSec > div {
    margin: 0 0 20px 0;
    padding: 0;
    overflow: hidden; }
  #module_sport #sportSec h3, #module_sport #sportSec p {
    color: #000;
    font-size: 0.9em;
    margin: 5px auto;
    text-align: center;
    width: 130px; }
  #module_sport #sportSec p {
    color: #313131; }
  #module_sport #sportSec .cropImg {
    height: 100px;
    margin: 0 auto;
    width: 140px; }
  #module_sport #sportSec .info {
    height: 65px; }
#module_sport #sportCarrouselContainer {
  margin: 10px auto 0;
  max-width: 440px; }

#module_style #styleMain > div {
  padding: 0; }
#module_style #styleMain #main, #module_style #styleMain .subMains {
  float: none;
  margin: 0 auto 5px;
  max-width: 440px;
  overflow: hidden;
  padding: 0; }
  #module_style #styleMain #main .styleHover:hover section, #module_style #styleMain .subMains .styleHover:hover section {
    background: rgba(0, 0, 0, 0.9); }
  #module_style #styleMain #main section, #module_style #styleMain .subMains section {
    bottom: 1px;
    color: #FFF;
    cursor: pointer;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%; }
    #module_style #styleMain #main section h2, #module_style #styleMain #main section p, #module_style #styleMain .subMains section h2, #module_style #styleMain .subMains section p {
      font-size: 0.9em;
      margin: 5px 0; }
    #module_style #styleMain #main section h2, #module_style #styleMain .subMains section h2 {
      text-transform: uppercase; }
  #module_style #styleMain #main .cropImg, #module_style #styleMain .subMains .cropImg {
    border-bottom: 1px solid #FFF;
    height: 240px; }
#module_style #styleMain .subMains {
  max-width: 285px; }
  #module_style #styleMain .subMains > div {
    margin-bottom: 5px;
    position: relative; }
  #module_style #styleMain .subMains .cropImg {
    height: 180px;
    width: 300px; }
#module_style #styleSec {
  margin: 10px auto 0;
  max-width: 400px; }
  #module_style #styleSec > div {
    margin: 0 0 20px 0;
    padding: 0;
    overflow: hidden; }
  #module_style #styleSec h3, #module_style #styleSec p {
    color: #000;
    font-size: 0.9em;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    width: 130px; }
  #module_style #styleSec p {
    color: #313131; }
  #module_style #styleSec .styleSecHover:hover {
    text-decoration: none; }
    #module_style #styleSec .styleSecHover:hover .info h3 {
      color: #329d2e; }
  #module_style #styleSec .cropImg {
    height: 100px;
    margin: 0 auto;
    width: 140px; }
  #module_style #styleSec .info {
    height: 65px; }

#module_ticket {
  margin: 20px 0; }
  #module_ticket .caroufredsel_wrapper {
    max-width: none; }
  #module_ticket #ticketCarrousel .cropImg {
    height: 160px;
    width: 320px; }
  #module_ticket #ticketCarrousel .row > div {
    margin-bottom: 5px;
    max-width: 350px;
    padding: 0; }
  #module_ticket #ticketCarrousel .slide {
    float: left;
    position: relative; }
    #module_ticket #ticketCarrousel .slide section {
      bottom: 0px;
      color: #FFF;
      cursor: pointer;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%; }
      #module_ticket #ticketCarrousel .slide section h2 {
        font-size: 0.9em;
        margin: 5px 0;
        text-transform: uppercase; }
      #module_ticket #ticketCarrousel .slide section p {
        margin: 5px 0; }
  #module_ticket #ticketCarrousel .ticketHover:hover section {
    background: rgba(0, 0, 0, 0.8); }
  #module_ticket #ticketContainer {
    margin: 10px auto 0;
    max-width: 285px; }

@media screen and (min-width: 768px) {
  .module_banner_main {
    display: block; }

  #module_gallery .mainImage, #module_main_category .mainImage, #module_main_note .mainImage {
    height: auto; }
    #module_gallery .mainImage section h2, #module_main_category .mainImage section h2, #module_main_note .mainImage section h2 {
      font-size: 30px;
      margin: 8px auto; }
    #module_gallery .mainImage .cropImg, #module_main_category .mainImage .cropImg, #module_main_note .mainImage .cropImg {
      height: 450px;
      width: 780px; }
  #module_gallery #gallerySec, #module_main_category #gallerySec, #module_main_note #gallerySec {
    max-width: none;
    width: auto; }
    #module_gallery #gallerySec > div > div, #module_main_category #gallerySec > div > div, #module_main_note #gallerySec > div > div {
      width: 350px; }
      #module_gallery #gallerySec > div > div:last-of-type, #module_main_category #gallerySec > div > div:last-of-type, #module_main_note #gallerySec > div > div:last-of-type {
        margin-left: 20px; }
      #module_gallery #gallerySec > div > div .cropImg, #module_main_category #gallerySec > div > div .cropImg, #module_main_note #gallerySec > div > div .cropImg {
        height: 218px;
        width: 350px; }
      #module_gallery #gallerySec > div > div .info h3, #module_main_category #gallerySec > div > div .info h3, #module_main_note #gallerySec > div > div .info h3 {
        font-size: 20px;
        height: 44px;
        margin-top: 5px; }
      #module_gallery #gallerySec > div > div .info p, #module_main_category #gallerySec > div > div .info p, #module_main_note #gallerySec > div > div .info p {
        height: 105px; }
  #module_gallery #galleryContainer, #module_main_category #galleryContainer, #module_main_note #galleryContainer {
    margin: 10px auto 0;
    max-width: 720px; }

  #module_main .caroufredsel_wrapper {
    box-sizing: border-box;
    padding-bottom: 0px !important;
    margin: 0 auto !important; }
  #module_main #newCarrousel .slide .mainImage {
    height: auto; }
    #module_main #newCarrousel .slide .mainImage section h2 {
      font-size: 30px;
      margin: 8px auto; }
    #module_main #newCarrousel .slide .mainImage .cropImg {
      height: 450px;
      width: 780px; }
  #module_main #newCarrousel .slide .news {
    max-width: none; }
    #module_main #newCarrousel .slide .news .row > div {
      max-width: 350px; }
      #module_main #newCarrousel .slide .news .row > div:last-of-type {
        margin-left: 20px; }
    #module_main #newCarrousel .slide .news .info {
      padding: 3px 0 0 10px; }
      #module_main #newCarrousel .slide .news .info h3 {
        font-size: 20px;
        margin: 0; }
    #module_main #newCarrousel .slide .news section {
      margin: 0 auto 10px;
      max-width: 750px; }
    #module_main #newCarrousel .slide .news .cropImg {
      margin: 0;
      height: 218px;
      width: 350px; }
  #module_main #newCarrouselContainer {
    margin: 10px auto 0;
    max-width: 720px; }

  #module_sport #sportCarrousel .slide .mainImage {
    height: auto; }
    #module_sport #sportCarrousel .slide .mainImage section h2 {
      font-size: 30px;
      margin: 8px auto; }
    #module_sport #sportCarrousel .slide .mainImage .cropImg {
      height: 450px;
      width: 780px; }
  #module_sport #sportCarrouselContainer {
    margin: 10px auto 0;
    max-width: 720px; }
  #module_sport #sportSec {
    max-width: 720px; }
    #module_sport #sportSec > div {
      margin: 0 10px;
      max-width: 165px; }
      #module_sport #sportSec > div:first-of-type {
        margin-left: 0; }
      #module_sport #sportSec > div:last-of-type {
        margin-right: 0; }
    #module_sport #sportSec .cropImg {
      height: 120px;
      width: auto; }
    #module_sport #sportSec .info {
      height: 80px; }
    #module_sport #sportSec h3, #module_sport #sportSec p {
      font-size: 1.1em;
      text-align: left;
      width: 165px; }

  #module_style #styleMain {
    margin: 0 auto;
    max-width: 720px; }
    #module_style #styleMain #main, #module_style #styleMain .subMains {
      float: left;
      margin: 0;
      max-width: none; }
    #module_style #styleMain #main {
      border-right: 1px solid #FFF; }
      #module_style #styleMain #main section h2 {
        font-size: 1em; }
      #module_style #styleMain #main section p {
        font-size: 18px; }
      #module_style #styleMain #main .cropImg {
        height: 320px;
        width: 480px; }
    #module_style #styleMain .subMains > div {
      margin: 0; }
    #module_style #styleMain .subMains section h2 {
      width: 233px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1em; }
    #module_style #styleMain .subMains section p {
      font-size: 18px; }
    #module_style #styleMain .subMains .cropImg {
      height: 160px; }
  #module_style #styleSec {
    max-width: 720px; }
    #module_style #styleSec > div {
      margin: 0 10px;
      max-width: 165px; }
      #module_style #styleSec > div:first-of-type {
        margin-left: 0; }
      #module_style #styleSec > div:last-of-type {
        margin-right: 0; }
    #module_style #styleSec .cropImg {
      height: 120px;
      width: auto; }
    #module_style #styleSec .info {
      height: 80px; }
    #module_style #styleSec h3, #module_style #styleSec p {
      font-size: 1.1em;
      text-align: left;
      width: 165px; }

  #module_ticket #ticketCarrousel .cropImg {
    height: 218px;
    width: 350px; }
  #module_ticket #ticketCarrousel .slide section h2 {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px; }
  #module_ticket #ticketCarrousel .slide section p {
    font-size: 18px; }
  #module_ticket #ticketCarrousel .row {
    margin-bottom: 10px; }
    #module_ticket #ticketCarrousel .row > div {
      margin-bottom: 0;
      max-width: none;
      padding: 0;
      width: 350px; }
      #module_ticket #ticketCarrousel .row > div:last-of-type {
        margin-left: 20px; }
  #module_ticket #ticketContainer {
    margin: 10px auto 0;
    max-width: 720px; } }
@media screen and (min-width: 992px) {
  #module_gallery .mainImage, #module_main_category .mainImage, #module_main_note .mainImage {
    overflow: hidden; }
  #module_gallery #galleryContainer, #module_main_category #galleryContainer, #module_main_note #galleryContainer {
    width: 700px; }
  #module_gallery #gallerySec > div > div, #module_main_category #gallerySec > div > div, #module_main_note #gallerySec > div > div {
    width: 340px; }
    #module_gallery #gallerySec > div > div .cropImg, #module_main_category #gallerySec > div > div .cropImg, #module_main_note #gallerySec > div > div .cropImg {
      width: 340px; }

  #module_main #newCarrousel .slide .news .cropImg {
    width: 340px; }
  #module_main #newCarrousel .slide .news .row > div {
    max-width: 340px; }
  #module_main #newCarrouselContainer {
    width: 700px; }

  #module_sport #sportCarrouselContainer {
    width: 700px; }
  #module_sport #sportSec {
    width: 700px; }
    #module_sport #sportSec > div {
      padding: 0;
      overflow: hidden;
      width: 160px; }
    #module_sport #sportSec .info {
      height: 120px; }
    #module_sport #sportSec h3 {
      font-size: 20px; }
    #module_sport #sportSec p {
      font-sizde: 16px; }

  #module_style #styleMain {
    width: 700px; }
  #module_style #styleSec {
    width: 700px; }
    #module_style #styleSec > div {
      padding: 0;
      overflow: hidden;
      width: 160px; }
    #module_style #styleSec .info {
      height: 120px; }
    #module_style #styleSec h3 {
      font-size: 20px; }
    #module_style #styleSec p {
      font-sizde: 16px; }

  #module_ticket #ticketCarrousel .cropImg {
    width: 340px; }
  #module_ticket #ticketCarrousel .row > div {
    max-width: 340px; }
  #module_ticket #ticketCarrousel .slide section h2 {
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #module_ticket #ticketContainer {
    width: 700px; } }
@media screen and (min-width: 1200px) {
  #module_ticket #ticketCarrousel .slide section h2 {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }
#rightContent .rightTitle {
  background: #329d2e;
  color: #FFF;
  font-size: 20px;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase; }
#rightContent .module_banner {
  margin: 20px auto;
  text-align: center; }
  #rightContent .module_banner img {
    display: block;
    margin: 0 auto;
    height: 250px;
    max-width: 300px;
    width: 100%; }
#rightContent .module_bottom {
  overflow: hidden;
  margin-top: -10px;
  margin-bottom: 25px;
  max-width: none;
  position: relative; }
  #rightContent .module_bottom:hover:after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; }
  #rightContent .module_bottom h2 {
    margin-bottom: 0; }
  #rightContent .module_bottom .mainImage {
    overflow: hidden;
    padding: 0;
    position: relative; }
    #rightContent .module_bottom .mainImage .cropImg {
      height: 340px;
      width: 370px; }
    #rightContent .module_bottom .mainImage .glyphicon {
      background: transparent;
      color: #FFF;
      display: none;
      font-size: 20px;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      position: absolute;
      top: 50%; }
  #rightContent .module_bottom .row {
    margin: 0 auto;
    max-width: 300px; }
  #rightContent .module_bottom .smallImage {
    overflow: hidden;
    padding: 0; }
    #rightContent .module_bottom .smallImage .cropImg {
      height: 150px;
      width: 130px; }
    #rightContent .module_bottom .smallImage .glyphicon {
      background: none;
      color: #FFF;
      display: none;
      font-size: 20px;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      position: absolute;
      top: 50%; }
#rightContent .module_classified {
  margin: 0 auto;
  max-width: none; }
  #rightContent .module_classified .adds {
    background: #005425;
    color: #FFF;
    margin-bottom: 20px; }
    #rightContent .module_classified .adds h2 {
      border-bottom: 1px solid #FFF;
      font-size: 22px;
      text-transform: uppercase;
      margin: 0;
      padding: 8px 15px; }
    #rightContent .module_classified .adds > .row.add {
      border-bottom: 1px solid #329d2e;
      padding: 7px 15px; }
      #rightContent .module_classified .adds > .row.add > a {
        height: 70px;
        display: block;
        width: 100%; }
        #rightContent .module_classified .adds > .row.add > a:hover h3 {
          text-decoration: underline; }
        #rightContent .module_classified .adds > .row.add > a > div {
          overflow: hidden;
          padding: 0; }
      #rightContent .module_classified .adds > .row.add .cropImg {
        height: 70px;
        width: 80px; }
      #rightContent .module_classified .adds > .row.add h3 {
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #FFF;
        font-size: 20px;
        padding-left: 20px;
        margin: 0; }
      #rightContent .module_classified .adds > .row.add p {
        color: #FFF;
        padding-left: 20px;
        margin: 0; }
    #rightContent .module_classified .adds > .row > div {
      padding: 0;
      overflow: hidden; }
  #rightContent .module_classified .advertise img {
    display: block;
    margin: 10px auto;
    max-width: 320px;
    width: 100%; }
#rightContent .module_column {
  margin: 0 auto;
  max-width: none; }
  #rightContent .module_column .rightTitle {
    margin-bottom: 0; }
  #rightContent .module_column .grid {
    height: auto; }
    #rightContent .module_column .grid figure {
      max-width: none; }
      #rightContent .module_column .grid figure figcaption {
        padding: 1em; }
    #rightContent .module_column .grid p {
      font-size: 15px;
      padding: 0; }
      #rightContent .module_column .grid p span {
        display: inline-block; }
  #rightContent .module_column img {
    display: block;
    margin: 0 auto;
    height: 270px;
    max-width: 320px;
    width: 100%; }
#rightContent .module_minute > a {
  color: #000; }
  #rightContent .module_minute > a:hover .title {
    color: #329d2e; }
#rightContent .module_minute p {
  margin: 0; }
#rightContent .module_minute .bullet {
  background: #329d2e;
  border-radius: 50%;
  display: block;
  height: 10px;
  position: relative;
  width: 10px; }
  #rightContent .module_minute .bullet:after {
    content: "";
    display: block;
    background: #e4e4e4;
    height: 30px;
    left: 50%;
    position: absolute;
    top: 15px;
    width: 1px; }
#rightContent .module_minute .date, #rightContent .module_minute .time {
  padding-right: 15px;
  text-align: right; }
#rightContent .module_minute .row {
  margin-bottom: 18px; }
  #rightContent .module_minute .row > div {
    padding: 0; }
#rightContent .module_minute .sub {
  color: #525252;
  line-height: 15px; }
#rightContent .module_minute .title {
  font-size: 16px;
  line-height: 16px; }
#rightContent .module_news {
  margin: 0 auto;
  max-width: none; }
  #rightContent .module_news h3 {
    color: #000;
    font-size: 20px;
    margin: 0; }
  #rightContent .module_news span {
    color: #313131; }
  #rightContent .module_news .row {
    padding-bottom: 10px; }
    #rightContent .module_news .row > div {
      overflow: hidden; }
      #rightContent .module_news .row > div:first-of-type {
        padding: 0; }
  #rightContent .module_news .cropImg {
    height: 150px;
    width: 210px; }
  #rightContent .module_news .module_newsHover:hover h3 {
    color: #329d2e; }
#rightContent .module_print {
  margin: 0 auto;
  max-width: none; }
  #rightContent .module_print img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 314px;
    width: 100%; }
#rightContent .module_test {
  margin: 0 auto;
  text-align: center;
  max-width: none; }
  #rightContent .module_test .test form input[type="radio"], #rightContent .module_test .test form label {
    margin: 0; }
  #rightContent .module_test .test h3, #rightContent .module_test .test label {
    font-size: 20px;
    color: #000; }
  #rightContent .module_test .test h3 {
    margin: 20px 0; }
  #rightContent .module_test .test .submit {
    background: #FFF;
    border: 1px solid #787878;
    font-size: 14px;
    margin: 15px auto;
    padding: 2px 15px 0 15px; }
    #rightContent .module_test .test .submit:hover {
      background: #329d2e;
      border: 1px solid #FFF;
      color: #FFF; }

@media screen and (min-width: 768px) {
  #rightContent .module_print, #rightContent .module_test, #rightContent .module_column, #rightContent .module_news, #rightContent .module_classified {
    max-width: none; }
  #rightContent .module_classified .adds > .row.add {
    border-bottom: 1px solid #329d2e;
    padding: 7px 15px; }
    #rightContent .module_classified .adds > .row.add h3 {
      width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    #rightContent .module_classified .adds > .row.add .cropImg {
      height: 70px;
      width: 100px; }
  #rightContent .module_classified .advertise img {
    display: block;
    margin: 10px auto;
    max-width: 320px; }
  #rightContent .module_news .row {
    border-bottom: 1px solid #e4e4e4;
    padding-top: 10px; } }
@media screen and (min-width: 992px) {
  #rightContent .module_banner img {
    height: auto; }
  #rightContent .module_bottom h2 {
    font-size: 17px; }
    #rightContent .module_bottom h2 .mainImage .cropImg {
      width: 260px; }
    #rightContent .module_bottom h2 .smallImage .cropImg {
      width: 95px; }
  #rightContent .module_classified .adds h2 {
    font-size: 19px;
    padding: 8px 5px; }
  #rightContent .module_classified .adds > .row.add .cropImg {
    width: 80px; }
  #rightContent .module_classified .adds > .row.add h3 {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #rightContent .module_news h3 {
    max-height: 132px;
    overflow: hidden; }
  #rightContent .module_news .row {
    border-bottom: none;
    padding: 5px 0; } }
@media screen and (min-width: 1200px) {
  #rightContent .module_bottom h2 {
    font-size: 20px; }
    #rightContent .module_bottom h2 .mainImage .cropImg {
      width: 260px; }
    #rightContent .module_bottom h2 .smallImage .cropImg {
      width: 95px; }
  #rightContent .module_bottom .row {
    margin: 0 auto;
    max-width: none; }
  #rightContent .module_column img {
    max-width: none; }
  #rightContent .module_classified .adds h2 {
    font-size: 22px;
    padding: 8px 15px; }
  #rightContent .module_classified .adds > .row.add h3 {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; } }
.grid.column {
  max-height: 308px; }

#module_tittle_category {
  background: #000;
  color: #FFF;
  padding: 10px 0; }
  #module_tittle_category h1 {
    font-size: 16px;
    margin: 5px 0 5px 10px; }
    #module_tittle_category h1 span {
      display: block;
      font-size: 15px; }
  #module_tittle_category #breadcrumb {
    font-size: 16px;
    padding: 10px 0;
    text-align: center; }
    #module_tittle_category #breadcrumb h1 {
      font-size: 16px;
      display: inline-block;
      margin: 0; }
  #module_tittle_category #logoC {
    max-width: 200px; }
    #module_tittle_category #logoC img {
      display: block;
      height: 50px; }

.module_notes_category > div > div .cropImg img {
  height: 100%; }

.module_notes_category #btnMore, #module_author_notes #btnMore {
  background: #e4e4e4;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto 30px;
  padding: 5px 0;
  text-align: center;
  width: 130px; }
  .module_notes_category #btnMore:hover, #module_author_notes #btnMore:hover {
    background: #329d2e;
    border: 1px solid #FFF; }
    .module_notes_category #btnMore:hover a, #module_author_notes #btnMore:hover a {
      color: #FFF; }
  .module_notes_category #btnMore a, #module_author_notes #btnMore a {
    color: #313131;
    text-decoration: none; }
.module_notes_category .note, #module_author_notes .note {
  border-bottom: 1px solid #e4e4e4;
  padding-top: 5px; }
.module_notes_category > div > div, #module_author_notes > div > div {
  display: block;
  float: none;
  vertical-align: middle;
  overflow: hidden; }
  .module_notes_category > div > div .cropImg, #module_author_notes > div > div .cropImg {
    height: 180px;
    margin: 0 auto;
    width: 230px; }
  .module_notes_category > div > div .info, #module_author_notes > div > div .info {
    max-width: 350px;
    margin: 0 auto; }
    .module_notes_category > div > div .info h3, #module_author_notes > div > div .info h3 {
      color: #000;
      font-size: 20px;
      margin: 10px 0 0 0; }
    .module_notes_category > div > div .info span, #module_author_notes > div > div .info span {
      color: #313131;
      display: block;
      margin-bottom: 10px; }
    .module_notes_category > div > div .info p, #module_author_notes > div > div .info p {
      color: #313131; }

@media screen and (min-width: 480px) {
  .module_notes_category .note, #module_author_notes .note {
    border: none;
    margin: 20px auto !important;
    padding: 0; }
  .module_notes_category > div > div, #module_author_notes > div > div {
    display: inline-block;
    float: none;
    vertical-align: middle;
    overflow: hidden;
    width: 49%; }
    .module_notes_category > div > div:last-of-type, #module_author_notes > div > div:last-of-type {
      padding: 0 10px; }
    .module_notes_category > div > div .info h3, #module_author_notes > div > div .info h3 {
      margin: 0; }
    .module_notes_category > div > div .info p, #module_author_notes > div > div .info p {
      max-height: 100px;
      overflow: hidden; } }
@media screen and (min-width: 768px) {
  #module_tittle_category {
    clear: both;
    overflow: auto; }
    #module_tittle_category h1 {
      font-size: 20px; }
      #module_tittle_category h1 span {
        font-size: 16px; }
    #module_tittle_category #content {
      margin: 0 auto;
      max-width: 720px; }
    #module_tittle_category #breadcrumb {
      float: right;
      margin-top: 10px; }
    #module_tittle_category #logoC {
      float: left; }

  .module_notes_category .note, #module_author_notes .note {
    max-width: 720px; }
  .module_notes_category > div > div, #module_author_notes > div > div {
    float: left;
    overflow: hidden;
    width: 30%; }
    .module_notes_category > div > div:last-of-type, #module_author_notes > div > div:last-of-type {
      padding: 0 10px;
      width: 70%; }
    .module_notes_category > div > div .cropImg, #module_author_notes > div > div .cropImg {
      height: 150px;
      margin: 0 auto;
      width: 230px; }
    .module_notes_category > div > div .info, #module_author_notes > div > div .info {
      max-width: none; }
      .module_notes_category > div > div .info h3, .module_notes_category > div > div .info p, #module_author_notes > div > div .info h3, #module_author_notes > div > div .info p {
        margin: 0; }
      .module_notes_category > div > div .info p, #module_author_notes > div > div .info p {
        max-height: 80px; }
      .module_notes_category > div > div .info span, #module_author_notes > div > div .info span {
        margin-bottom: 20px; } }
@media screen and (min-width: 1200px) {
  #module_tittle_category #content {
    max-width: 1100px; } }
#noteContainer > div img {
  display: inline-block;
  max-width: 90%; }
#noteContainer #imagen img, #noteContainer #imagen_area img {
  margin: 0 auto;
  max-width: 90%; }
#noteContainer #lectureControl {
  margin: 10px 0 20px 0; }
  #noteContainer #lectureControl a {
    background: #329d2e;
    color: #FFF;
    border: none;
    font-family: 'roboto_condensedbold';
    padding: 5px 0;
    text-align: center;
    width: 200px;
    cursor: pointer; }
    #noteContainer #lectureControl a:hover {
      background: #257622; }
    #noteContainer #lectureControl a:first-of-type {
      width: 130px; }
    #noteContainer #lectureControl a:last-of-type {
      background: #787878;
      width: 80px; }
      #noteContainer #lectureControl a:last-of-type:hover {
        background: #5f5f5f; }
    #noteContainer #lectureControl a:hover {
      text-decoration: none; }
#noteContainer aside {
  border-top: 1px solid #e4e4e4;
  padding-top: 15px; }
#noteContainer #module_author h2 {
  color: #329d2e;
  font-size: 18px;
  text-transform: uppercase; }
#noteContainer #module_author img {
  display: block;
  margin: 0 auto;
  height: 169px;
  width: 169px; }
#noteContainer #module_author p {
  color: #787878;
  float: right; }
  #noteContainer #module_author p:first-of-type {
    float: left; }
#noteContainer #module_author section {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 80%; }
  #noteContainer #module_author section:first-of-type {
    width: 170px; }
#noteContainer #module_author .profile {
  background-position: -165px -29px;
  height: 16px;
  vertical-align: middle;
  width: 20px; }
#noteContainer #module_author #bio {
  color: #000; }
#noteContainer #module_disquss {
  margin-top: 35px; }
#noteContainer #module_isuu {
  margin-bottom: 20px; }
  #noteContainer #module_isuu iframe {
    height: 400px;
    width: 100%; }
#noteContainer #module_related > h3 {
  color: #329d2e;
  border-bottom: 1px solid #e4e4e4;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase; }
#noteContainer #module_related .hoverNoteRelated {
  text-decoration: none; }
  #noteContainer #module_related .hoverNoteRelated:hover {
    text-decoration: none; }
    #noteContainer #module_related .hoverNoteRelated:hover h3 {
      color: #329d2e; }
#noteContainer #module_related .note {
  overflow: hidden;
  margin: 0 auto;
  width: 200px; }
  #noteContainer #module_related .note h3 {
    color: #000;
    font-size: 24px;
    line-height: 22px;
    margin: 10px 0 5px; }
  #noteContainer #module_related .note p {
    color: #313131; }
  #noteContainer #module_related .note .cropImg {
    height: 200px;
    width: 200px; }
#noteContainer #module_slider {
  margin-bottom: 20px;
  margin-top: 50px; }
  #noteContainer #module_slider #sliderGallery {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
    #noteContainer #module_slider #sliderGallery .rsGCaption {
      display: block;
      color: #000;
      height: inherit;
      position: relative;
      text-align: center; }
      #noteContainer #module_slider #sliderGallery .rsGCaption .infoBlock {
        height: inherit;
        position: relative;
        width: 100%; }
        #noteContainer #module_slider #sliderGallery .rsGCaption .infoBlock h4 {
          bottom: 120px;
          clear: both;
          height: 25px;
          font-size: 14px;
          font-style: italic;
          position: relative;
          margin: 0; }
    #noteContainer #module_slider #sliderGallery .rsArrow {
      display: none !important; }
    #noteContainer #module_slider #sliderGallery .rsThumbsArrow.rsThumbsArrowLeft {
      background-color: transparent;
      height: 20px; }
      #noteContainer #module_slider #sliderGallery .rsThumbsArrow.rsThumbsArrowLeft .rsThumbsArrowIcn {
        background-position: -200px -10px; }
    #noteContainer #module_slider #sliderGallery .rsThumbsArrow.rsThumbsArrowRight {
      background-color: transparent;
      height: 30px; }
      #noteContainer #module_slider #sliderGallery .rsThumbsArrow.rsThumbsArrowRight .rsThumbsArrowIcn {
        background-position: -230px -10px; }
#noteContainer #module_social {
  clear: both;
  margin: 10px 0; }
  #noteContainer #module_social > div {
    margin: 0 auto;
    width: 300px; }
    #noteContainer #module_social > div > div {
      text-align: center; }
#noteContainer #module_tags h3 {
  color: #329d2e;
  font-size: 18px;
  text-transform: uppercase; }
#noteContainer #module_tags ul {
  border-top: 1px solid #e4e4e4;
  padding-top: 8px; }
  #noteContainer #module_tags ul li {
    padding-left: 8px;
    position: relative; }
    #noteContainer #module_tags ul li:before {
      background: #000;
      border-radius: 100%;
      border: 1px solid #000;
      content: "";
      left: 0;
      height: 3px;
      position: absolute;
      top: 45%;
      width: 3px; }
#noteContainer #module_video iframe {
  display: block;
  height: 280px;
  margin: 0 auto;
  max-width: 550px;
  width: 100%; }
#noteContainer #module_video #videoGallery .tabs ul li h3 {
  font-size: 15px;
  line-height: 13px; }
#noteContainer #module_video #video {
  margin: 0 0 20px 0; }
#noteContainer #module_video .mightyslider_modern_skin .mSButtons {
  background-position: -230px -10px;
  left: auto;
  right: 20px;
  height: 16px;
  width: 16px; }
  #noteContainer #module_video .mightyslider_modern_skin .mSButtons.mSPrev {
    background-position: -200px -10px;
    left: 20px;
    right: auto; }

#module_main_note {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px; }
  #module_main_note .mainImage {
    height: auto; }
    #module_main_note .mainImage section {
      background: #FFF;
      color: #000;
      position: relative; }
    #module_main_note .mainImage figcaption {
      font-style: italic;
      padding-right: 10px;
      text-align: right; }

@media screen and (min-width: 480px) {
  #module_main_note .mainImage section h2 {
    font-size: 20px; }

  #noteContainer #module_author h2 {
    text-align: center; }
  #noteContainer #module_author p {
    float: none; }
    #noteContainer #module_author p:first-of-type {
      float: none; }
  #noteContainer #module_author section {
    clear: both;
    display: inline-block;
    vertical-align: bottom;
    width: 49%; }
    #noteContainer #module_author section:first-of-type {
      width: 49%; }
    #noteContainer #module_author section:last-of-type {
      margin-bottom: 40px; }
  #noteContainer #module_related .note {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    width: 49%; }
    #noteContainer #module_related .note .cropImg {
      margin: 0 auto; } }
@media screen and (min-width: 768px) {
  #module_main_note .mainImage section h2 {
    font-size: 30px;
    margin: 8px 0;
    white-space: normal;
    text-align: left; }

  #noteContainer > div {
    float: right;
    width: 73%; }
  #noteContainer aside {
    border-top: none;
    float: left;
    padding: 0;
    max-width: 170px;
    width: 23%; }
  #noteContainer #module_author h2 {
    text-align: left;
    width: 60%; }
  #noteContainer #module_author img {
    margin: 0; }
  #noteContainer #module_author section:first-of-type, #noteContainer #module_author section:last-of-type {
    margin: 0;
    width: 100%; }
  #noteContainer #module_related .note {
    display: block;
    text-align: left;
    width: 100%; }
    #noteContainer #module_related .note .cropImg {
      margin: 0 auto;
      height: 169px;
      width: 169px; }
  #noteContainer #module_slider .rsContainer {
    /*margin: 0 auto;
    max-width: 500px;*/ }
  #noteContainer #module_social > div {
    width: auto; }
    #noteContainer #module_social > div > div {
      text-align: left; }
  #noteContainer #module_video iframe {
    height: 300px;
    max-width: none;
    width: 100%; } }
@media screen and (min-width: 1200px) {
  #noteContainer #module_slider {
    margin-top: 30px;
                 /*
.rsContainer {
    max-width: 420px;
}*/ } }
#contact, #static {
  background: #ebf3e9; }
  #contact > div, #static > div {
    background: #FAFAFA;
    border: 1px solid #DCE1DD;
    padding: 30px;
    text-align: center; }
    #contact > div p, #static > div p {
      margin: 0 auto;
      width: 80%; }
  #contact > h2, #static > h2 {
    color: #619c3b;
    font-size: 20px; }
  #contact > p, #static > p {
    color: #313131;
    font-size: 14px; }
    #contact > p:last-of-type, #static > p:last-of-type {
      margin: 10px 0 20px; }
      #contact > p:last-of-type a, #static > p:last-of-type a {
        color: #329d2e; }
  #contact form input, #contact form textarea, #static form input, #static form textarea {
    background: #FAFAFA;
    border: 1px solid #DCE1DD;
    resize: none;
    margin-bottom: 15px;
    padding: 6px 0 6px 10px;
    width: 100%; }
  #contact form textarea, #static form textarea {
    height: 200px;
    padding: 10px 0 10px 10px; }
  #contact form .g-recaptcha, #static form .g-recaptcha {
    display: block;
    margin: 0 auto;
    width: 310px; }
  #contact form .send, #static form .send {
    margin: 30px auto 10px;
    width: 150px; }
    #contact form .send input, #static form .send input {
      background: #619c3b;
      border: none;
      color: #FFF;
      font-size: 16px;
      padding: 8px 0; }
      #contact form .send input:hover, #static form .send input:hover {
        background: #4a772d; }
  #contact hr, #static hr {
    background: #619c3b;
    height: 5px;
    margin: 10px 0; }
  #contact .block label, #static .block label {
    color: #619c3b;
    display: block;
    font-size: 16px;
    margin: 0; }

@media screen and (min-width: 768px) {
  #contact, #static {
    float: none;
    max-width: 650px;
    margin: 50px auto;
    padding: 15px 90px;
    width: 100%; }
    #contact > h2, #static > h2 {
      font-size: 24px; }
    #contact > p:last-of-type, #static > p:last-of-type {
      margin: 40px 0; }
    #contact hr, #static hr {
      margin-bottom: 40px; }
    #contact form textarea, #static form textarea {
      height: 130px; }
    #contact .block label, #static .block label {
      font-size: 20px; } }
@media screen and (min-width: 992px) {
  #contact, #static {
    max-width: 800px; } }
@media screen and (min-width: 1200px) {
  #contact, #static {
    max-width: 900px; } }
#directory {
  float: none;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 30px;
  max-width: 500px;
  width: 100%; }
  #directory .employee h2 {
    border-bottom: 2px solid #619c3b;
    color: #619c3b;
    font-size: 16px;
    margin: 8px 0 3px; }
    #directory .employee h2 a.mail {
      background-position: -200px -30px;
      cursor: pointer;
      float: right;
      height: 15px;
      margin-top: 2px;
      width: 20px; }
  #directory .employee p {
    color: #313131; }

@media screen and (min-width: 768px) {
  #directory {
    max-width: 750px; }
    #directory .employee h2 {
      font-size: 20px; }
      #directory .employee h2 a.mail {
        margin-top: 7px; }
    #directory .employee p {
      font-size: 16px;
      margin-bottom: 40px; }
    #directory .row > div:last-of-type > div {
      margin-right: 0;
      margin-left: 10%; } }
@media screen and (min-width: 992px) {
  #directory {
    max-width: none; }
    #directory .employee {
      width: 90%; }
      #directory .employee h2 {
        font-size: 20px; }
      #directory .employee p {
        font-size: 16px;
        margin-bottom: 40px; } }
.author_tittle {
  text-transform: uppercase; }

#author {
  margin: 25px 0; }
  #author #module_author_info {
    background: #ebf3e9; }
    #author #module_author_info > div > div {
      padding: 0; }
    #author #module_author_info figure {
      max-width: 360px;
      margin: 0 auto;
      position: relative; }
      #author #module_author_info figure img {
        display: block;
        margin: 0 auto;
        width: 100%; }
      #author #module_author_info figure figcaption {
        background: rgba(50, 157, 46, 0.8);
        bottom: 0;
        color: #FFF;
        padding: 10px 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 100%; }
        #author #module_author_info figure figcaption h3 {
          font-size: 20px; }
        #author #module_author_info figure figcaption p {
          font-size: 12px; }
    #author #module_author_info section {
      color: #313131;
      padding: 25px; }
  #author #module_author_notes {
    margin-top: 20px; }
    #author #module_author_notes > div > div .cropImg {
      height: 180px;
      margin: 0 auto;
      width: 290px; }
    #author #module_author_notes .note {
      padding-top: 15px; }
    #author #module_author_notes #notes_category_button {
      margin-top: 30px; }

@media screen and (min-width: 768px) {
  #author #module_author_info {
    display: block;
    margin: 0 auto;
    max-width: 720px; }
    #author #module_author_info figure figcaption h3 {
      font-size: 30px; }
    #author #module_author_info figure figcaption p {
      font-size: 20px; }
    #author #module_author_info section {
      padding: 55px 25px 25px; }
  #author #module_author_notes {
    margin-top: 20px; }
    #author #module_author_notes > div > div {
      float: left; }
      #author #module_author_notes > div > div .cropImg {
        height: 180px;
        margin: 0 auto;
        width: 290px; }
    #author #module_author_notes .note {
      padding-top: 15px; }
    #author #module_author_notes #notes_category_button {
      margin-top: 30px; } }
.searchHover:hover .info h3 {
  color: #329d2e; }

#static > div {
  padding: 15px;
  text-align: left; }
  #static > div h3 {
    color: #329d2e;
    margin: 0 0 10px 0; }
  #static > div p {
    margin: 0 0 20px 0;
    width: 100%; }
    #static > div p span {
      color: #329d2e; }
  #static > div ul {
    color: #329d2e;
    margin: 10px 0; }
    #static > div ul span {
      color: #333; }

#printContainer {
  padding: 20px; }
  #printContainer .moduleTop {
    padding-bottom: 10px;
    margin-bottom: 30px; }
    #printContainer .moduleTop form {
      margin-top: 60px;
      clear: both;
      float: none; }
    #printContainer .moduleTop button {
      display: block;
      margin: 0 auto; }
  #printContainer > img {
    display: block;
    margin: 0 auto;
    max-width: 250px; }

@media screen and (min-width: 480px) {
  #printContainer .moduleTop form {
    clear: none;
    float: right;
    margin: 0;
    width: 280px; }
    #printContainer .moduleTop form .form-group {
      display: inline-block;
      margin: 0;
      vertical-align: bottom;
      width: 200px; }
      #printContainer .moduleTop form .form-group label, #printContainer .moduleTop form .form-group input {
        display: inline-block;
        vertical-align: middle; }
      #printContainer .moduleTop form .form-group label {
        width: 25%; }
      #printContainer .moduleTop form .form-group input {
        width: 70%; }
    #printContainer .moduleTop form button {
      display: inline-block;
      vertical-align: bottom;
      width: 70px; }
  #printContainer > img {
    max-width: 400px; } }
@media screen and (min-width: 768px) {
  #printContainer .moduleTop form {
    width: 350px; }
    #printContainer .moduleTop form .form-group {
      width: 270px; } }
#addsContent #addsCategory section {
  float: none;
  margin-top: 15px;
  vertical-align: top;
  width: 90%; }
#addsContent #addsCategory h3 {
  background: #329d2e;
  color: #FFF;
  font-size: 20px;
  margin: 5px 0 10px;
  padding: 4px 0 4px 10px;
  text-transform: uppercase; }
#addsContent #addsCategory p {
  margin: 0 0 2px 0; }
  #addsContent #addsCategory p a {
    color: #000;
    padding-left: 10px; }
#addsContent #addsLast {
  overflow: auto;
  margin-top: 50px; }
  #addsContent #addsLast h2 {
    color: #329d2e;
    font-size: 24px;
    text-transform: uppercase; }
  #addsContent #addsLast .itemAd {
    margin: 20px auto 0;
    overflow: hidden;
    max-width: 285px; }
    #addsContent #addsLast .itemAd .newsHover:hover h3 {
      color: #329d2e; }
    #addsContent #addsLast .itemAd section > div {
      padding: 0; }
    #addsContent #addsLast .itemAd .cropImg {
      height: 200px;
      margin: 0 auto;
      width: 260px; }
      #addsContent #addsLast .itemAd .cropImg .category {
        background: #329d2e;
        color: #FFF;
        display: block;
        height: 25px;
        font-size: 20px;
        padding: 0 4px 0 10px;
        position: relative;
        text-transform: uppercase;
        top: 10px;
        width: 130px;
        z-index: 5; }
    #addsContent #addsLast .itemAd .info {
      color: #313131;
      margin: 0 auto 20px;
      max-width: 350px; }
      #addsContent #addsLast .itemAd .info h3 {
        color: #000;
        font-size: 24px;
        margin: 5px 0 0 0; }
      #addsContent #addsLast .itemAd .info span {
        color: #000;
        font-size: 14px;
        display: block;
        margin-bottom: 10px; }
      #addsContent #addsLast .itemAd .info p {
        color: #000; }
#addsContent #addsSearch {
  margin-top: 20px; }
  #addsContent #addsSearch .form-control:focus {
    box-shadow: 0 0 0 0;
    border-color: #ccc; }
  #addsContent #addsSearch form {
    width: 70%; }
    #addsContent #addsSearch form input {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px; }
    #addsContent #addsSearch form button {
      border-left: none;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px; }
      #addsContent #addsSearch form button:focus {
        outline: none; }
#addsContent #loadMoreButtonContainer {
  margin-top: 50px; }
#addsContent #mainAd {
  margin-top: 20px; }
  #addsContent #mainAd > div:first-of-type {
    float: none;
    overflow: hidden;
    margin: 0 auto;
    max-width: 400px;
    padding: 0;
    position: relative;
    width: 100%; }
    #addsContent #mainAd > div:first-of-type .cropImg {
      margin: 0 auto;
      height: 350px;
      width: 420px; }
    #addsContent #mainAd > div:first-of-type section {
      background: rgba(50, 157, 46, 0.8);
      bottom: 0;
      color: #FFF;
      left: 0;
      padding: 10px 0;
      position: absolute;
      text-align: center;
      width: 100%; }
      #addsContent #mainAd > div:first-of-type section h2 {
        font-size: 30px;
        margin: 0;
        text-transform: uppercase; }
      #addsContent #mainAd > div:first-of-type section p {
        margin: 0; }
  #addsContent #mainAd > div:last-of-type {
    float: none;
    background: #ebf3e9;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    width: 100%; }
    #addsContent #mainAd > div:last-of-type p {
      color: #313131;
      line-height: 14px;
      margin: 0; }
      #addsContent #mainAd > div:last-of-type p.desc {
        margin: 10px 0;
        line-height: 17px; }

#addsForm {
  margin-top: 30px; }
  #addsForm h2 {
    color: #329d2e;
    font-size: 24px;
    margin: 5px 0; }
  #addsForm label {
    color: #329d2e;
    font-weight: normal; }
    #addsForm label.big {
      font-size: 20px; }
      #addsForm label.big span {
        display: block;
        color: #000;
        font-size: 14px; }
      #addsForm label.big sup {
        font-size: 18px;
        color: #000; }
  #addsForm textarea {
    height: 100px !important; }
  #addsForm .customButton {
    margin-bottom: 25px; }
    #addsForm .customButton #imageFile {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: #FFF;
      border: 1px solid #DCE1DD;
      box-sizing: border-box;
      height: 30px;
      padding: 5px 0;
      text-align: center;
      width: 200px; }
    #addsForm .customButton > span {
      background: #329d2e;
      color: #FFF;
      border: none;
      font-family: 'roboto_condensedbold';
      padding: 5px 0;
      text-align: center;
      width: 130px;
      cursor: pointer;
      display: block;
      font-size: 18px; }
      #addsForm .customButton > span:hover {
        background: #257622; }
    #addsForm .customButton input {
      display: none; }
  #addsForm .customSelect {
    position: relative;
    width: 280px; }
    #addsForm .customSelect label {
      width: 90px; }
    #addsForm .customSelect div {
      cursor: pointer;
      position: relative;
      margin-left: 4px; }
      #addsForm .customSelect div .customInput {
        background: #FFF;
        border: 1px solid #DCE1DD;
        box-sizing: border-box;
        height: 30px;
        overflow: hidden;
        padding: 5px 0;
        text-align: center;
        width: 150px; }
        #addsForm .customSelect div .customInput:after {
          content: "";
          background: #329d2e url("/img/sprite.png") -223px -31px no-repeat;
          height: 28px;
          position: absolute;
          right: -30px;
          top: 0;
          width: 30px; }
      #addsForm .customSelect div ul {
        background: #FFF;
        border: 1px solid #DCE1DD;
        display: none;
        left: 0px;
        position: absolute;
        top: 28px;
        z-index: 20; }
        #addsForm .customSelect div ul li {
          list-style-type: none;
          text-align: center;
          width: 150px; }
          #addsForm .customSelect div ul li:hover {
            background: #329d2e;
            color: #FFF;
            cursor: pointer; }
    #addsForm .customSelect select {
      display: none; }
  #addsForm #send {
    background: #329d2e;
    color: #FFF;
    border: none;
    font-family: 'roboto_condensedbold';
    padding: 5px 0;
    text-align: center;
    width: 140px;
    margin: 20px auto; }
    #addsForm #send:hover {
      background: #257622; }
  #addsForm #terms {
    display: block;
    font-size: 12px;
    margin-top: 30px;
    text-align: center; }
    #addsForm #terms a {
      color: #000;
      font-weight: bold; }

#moreCategories .customSelect {
  position: relative;
  width: 280px; }
  #moreCategories .customSelect label {
    color: #329d2e;
    display: block;
    font-size: 18px;
    text-transform: uppercase; }
  #moreCategories .customSelect div {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 6px auto 10px;
    width: 200px; }
    #moreCategories .customSelect div .customInput {
      background: #FFF;
      border: 1px solid #DCE1DD;
      box-sizing: border-box;
      color: #787878;
      height: 30px;
      overflow: hidden;
      padding: 5px 0;
      text-align: center;
      width: 200px; }
      #moreCategories .customSelect div .customInput:after {
        content: "";
        background: #329d2e url("/img/sprite.png") -223px -31px no-repeat;
        height: 28px;
        position: absolute;
        right: -30px;
        top: 0;
        width: 30px; }
    #moreCategories .customSelect div ul {
      background: #FFF;
      border: 1px solid #DCE1DD;
      display: none;
      left: 0px;
      position: absolute;
      top: 28px;
      z-index: 20; }
      #moreCategories .customSelect div ul li {
        list-style-type: none;
        text-align: center;
        width: 200px; }
        #moreCategories .customSelect div ul li:hover {
          background: #329d2e;
          color: #FFF;
          cursor: pointer; }
        #moreCategories .customSelect div ul li a {
          color: #787878;
          display: block;
          -webkit-transition: none;
          -moz-transition: none;
          -o-transition: none;
          transition: none;
          width: 100%; }
          #moreCategories .customSelect div ul li a:hover {
            color: #FFF;
            text-decoration: none; }
  #moreCategories .customSelect select {
    display: none; }

#publishAd img {
  margin: 20px auto 30px;
  max-width: 360px;
  width: 100%; }

@media screen and (min-width: 480px) {
  #addsContent #addsLast .itemAd {
    float: left;
    margin-left: 2%;
    max-width: none;
    width: 48%; } }
@media screen and (min-width: 768px) {
  #moreCategories > section {
    margin: 0 auto;
    width: 730px; }
  #moreCategories .customSelect {
    display: inline-block;
    position: relative;
    width: 350px; }
    #moreCategories .customSelect:nth-child(odd) {
      margin-left: 25px; }
    #moreCategories .customSelect label {
      display: inline-block;
      vertical-align: top;
      width: 110px; }
    #moreCategories .customSelect div {
      display: inline-block;
      margin: 0;
      vertical-align: top; }

  #addsForm .customSelect, #addsForm .halfInput {
    display: inline-block;
    width: 49%; }
  #addsForm .customSelect {
    max-width: 304px; }
  #addsForm #telInput {
    margin-left: 1%; }

  #addsContent {
    margin: 0 auto;
    max-width: 720px; }
    #addsContent #addsCategory section {
      display: inline-block;
      float: none;
      margin-top: 15px;
      vertical-align: top;
      width: 45%; }
      #addsContent #addsCategory section:nth-child(even) {
        margin-left: 9%; }
    #addsContent #addsCategory h3 {
      background: #329d2e;
      color: #FFF;
      font-size: 20px;
      margin: 5px 0 10px;
      padding: 4px 0 4px 10px;
      text-transform: uppercase; }
    #addsContent #addsCategory p {
      margin: 0 0 2px 0; }
      #addsContent #addsCategory p a {
        color: #000;
        padding-left: 10px; }
    #addsContent #addsLast .itemAd {
      margin-left: 0;
      max-width: 700px;
      width: 100%; }
      #addsContent #addsLast .itemAd .cropImg {
        height: 210px;
        margin: 0;
        width: 325px; }
    #addsContent #mainAd > div:first-of-type,
    #addsContent #mainAd > div:last-of-type {
      float: left;
      margin: 0;
      width: 50%; }
    #addsContent #mainAd > div:last-of-type {
      height: 350px; } }
@media screen and (min-width: 992px) {
  #addsForm .halfInput {
    width: 45%; }
  #addsForm #telInput {
    margin-left: 9%; }

  #moreCategories > section {
    margin: 0;
    width: auto; }
  #moreCategories .customSelect {
    display: block;
    margin: 0;
    width: 350px; }
    #moreCategories .customSelect:nth-child(odd) {
      margin-left: 0px; }
    #moreCategories .customSelect label, #moreCategories .customSelect div {
      display: block; } }
@media screen and (min-width: 1200px) {
  #moreCategories > section {
    margin: 0;
    width: auto; }
  #moreCategories .customSelect {
    display: inline-block;
    margin: 5px 0;
    width: 350px; }
    #moreCategories .customSelect:nth-child(odd) {
      margin-left: 0px; }
    #moreCategories .customSelect label {
      width: 120px; }
    #moreCategories .customSelect label, #moreCategories .customSelect div {
      display: inline-block; } }

/*# sourceMappingURL=style.css.map */
