body{
  background-color: #f5f5f5;
}
.glyphicon{
  font-weight: bolder !important;
}
.image-container .thumbnail {
  display: none;
}
.image-container .thumbnail img {
  max-height: 287px;
}
.image-container .thumbnail.show_me {
  display: block;
}
.panel-form {
  border-radius: 0 4px 4px 4px;
}
.panel-heading {
  background-color: #f1f1f1 !important;
}
.nav-tabs-form{
  border-bottom: none;
}
.nav-tabs-form li a:hover {
  background-color: #ffffff !important;
}
.nav-tabs-form .active h4, .nav-tabs-form h4 {
  color: #2d6987 !important;
}
.nav-tabs-form li a, .nav-tabs-form li a:hover {
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
}
.navbar{
  background: #337ab7;
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: inherit;
}
.navbar-brand{
  color: #fff !important;
}
.nav > li > a, .dropdown-menu > li > a:hover {
  color: white !important;
  background-image: none !important;
}
.dropdown-menu > li > a{
  color: #333333 !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav a:hover {
  background-color: #006699 !important;
}
#sortable{
  padding: inherit;
}
#sortable li{
  list-style: none;
}
#sortable li img{
  height: 150px;
}
#sortable .module{
  height: 150px;
}
.option-group{
  font-weight:bold;
}
.option-child{
  padding-left:15px;
}
.input-group[class*=col-]{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.navbar-brand>img{
	width: 45%;
}
.user-categories{
  display: none;
}
option:disabled{
  color: #c7c7c7;
}
