//**** GENERAL ******//
.caroufredsel_wrapper {
    cursor: default !important;
    margin: 0 auto;
}
.calendar {
    @extend .sprite;
    background-position: -95px -30px;
    height: 16px;
    vertical-align: middle;
    width: 20px;
}
.calendarBlack {
    @extend .calendar;
    background-position: -165px -9px;
}
.cropImg {
    height: 410px;
    position: relative;
    overflow: hidden;
    width: 450px;
    > img {
        position: absolute;
        left: 45%;
        top: 50%;
        height: 100%;
        min-height: auto !important;
        width: auto !important;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%); 
    }
}
#carrousel {
    
    a.hoverBox:hover {
        section {
            background: rgba($sports-color, 0.8);
        }
    }
    .item {
        overflow: hidden;
        padding: 0;
        position: relative;
        section {
            background: rgba(0,0,0,0.5);
            bottom: 0px;
            color: #FFF;
            cursor: pointer;
            left: 0px;
            position: absolute;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            h3 {
                margin: 10px 0
            }
            p {
                font-size: 0.8em;
            }
        }
        .category {
            background: #FFF;
            color: #FFF;
            left: 0;
            position: absolute;
            top: 20px;
            img {
                max-height: 30px;
            }
        }
    }
    .row {
        @extend .reset;
        float: left;
        width: 100%;
    }
    .other {
        @extend .reset;
        padding: 0;
    }
}
#prev, #next {
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    color: #FFF;
    display: none !important;
    font-size: 35px;
    height: 50px;
    left: 10px;
    padding: 3px 2px 0 0;
    right: auto;
    text-align: center;
    width: 50px;
    &:hover {
        background: rgba(0,0,0,0.9);
    }
}
#next {
    left: auto;
    right: 10px;
}
#template1, #template3 {
    margin: 50px auto 0;
    position: relative;
    overflow-x: hidden;
    max-width: 440px;
    img {
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
    }
    .caroufredsel_wrapper {
        height: 2050px !important;
    }
}
#template2 {
    margin: 50px auto 0;
    max-width: 440px;
    position: relative;
    overflow-x: hidden;
    img {
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
    }
    .caroufredsel_wrapper {
        height: 1640px !important;
    }
}

#template4 {
    margin: 50px auto 0;
    max-width: 440px;
    position: relative;
    overflow-x: hidden;
    img {
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
    }
    .caroufredsel_wrapper {
        height: 1230px !important;
    }
}
@media screen and (min-width: 768px){
    #carrousel .item {
        border: 1px solid #FFF;
        border-bottom: none;
        section {
            max-width: none;
        }
    }
    #prev, #next {
        display: block !important;
        position: absolute;
        top: 50%;
    }
    #template1 {
        max-width: 1162px;
        margin: 0 auto;
        width: 100%;
        .caroufredsel_wrapper {
            height: 400px !important;
            max-width: none; 
        }
        .main {
            .cropImg {
                height: 400px;
                width: 500px;
            } 
        }
        .other {
            .cropImg {
                height: 200px;
                width:  250px;
            }
        }
    }
    #template2 {
        max-width: 1162px;
        margin: 0 auto;
        width: 100%;
        .caroufredsel_wrapper {
            height: 350px !important;
            max-width: none;
        }
        .cropImg {
            height: 350px;
            width: 320px;
        }
    }
    #template3 {
        max-width: 1162px;
        margin: 0 auto;
        width: 100%;
        .caroufredsel_wrapper {
            height: 500px !important;
            max-width: none;
        }
        .main {
            .cropImg {
                height: 300px;
                width: 520px;
            }
        }
        .other {
            .cropImg {
                height: 300px;
                width:  360px;
            }
            &.item {
                section {
                    bottom: 100px;
                }
            }
        }
    }
    #template4 {
        max-width: 1162px;
        margin: 0 auto;
        width: 100%;
        .caroufredsel_wrapper {
            height: 400px !important;
            max-width: none;
        }
        .main {
            .cropImg {
                height: 440px;
                width: 700px;
            }
            &.item {
                section {
                    bottom: 40px;
                }
            }
        }
        .other {
            .cropImg {
                height: 200px;
                width:  340px;
            }
        }
        .row {
            width: 100%;
        }
    }
}
@media screen and (min-width: 992px){
    #template1 {
        .caroufredsel_wrapper {
            height: 560px !important;
        }
        .main {
            .cropImg {
                height: 560px;
                width: 610px;
            } 
        }
        .other {
            .cropImg {
                height: 280px;
                width:  300px;
            }
        }
    }
    #template2 {
        .caroufredsel_wrapper {
            height: 450px !important;
        }
        .cropImg {
            height: 450px;
            width: 400px;
        }
    }
    #template3 {
        .caroufredsel_wrapper {
            height: 650px !important;
        }
        .main {
            .cropImg {
                height: 370px;
                width: 640px;
            }
        }
        .other {
            .cropImg {
                height: 370px;
                width:  420px;
            }
            &.item {
                section {
                    bottom: 90px;
                }
            }
        }
    }
    #template4 {
        .caroufredsel_wrapper {
            height: 450px !important;
        }
        .main {
            .cropImg {
                height: 550px;
                width: 800px;
            }
            &.item {
                section {
                    bottom: 100px;
                }
            }
        }
        .other {
            .cropImg {
                height: 225px;
                width:  400px;
            }
        }
    }
}
@media screen and (min-width: 1200px){    
    #template1 {
        .caroufredsel_wrapper {
            height: 720px !important;
        }
        .main {
            .cropImg {
                height: 720px;
                width: 1020px;
            } 
        }
        .other {
            .cropImg {
                height: 360px;
                width:  480px;
            }
        }
    }
    #template2 {
        .caroufredsel_wrapper {
            height: 550px !important;
        }
        .cropImg {
            height: 550px;
            width: 550px;
        }
    }
    #template3 {
        max-width: 1100px;
        .main {
            .cropImg {
                width: 750px;
            }
        }
        .other {
            .cropImg {
                width:  520px;
            }
            &.item {
                section {
                    bottom: 90px;
                }
            }
        }
    }
    #template4 {
        max-width: 1100px; 
        .caroufredsel_wrapper {
            height: 520px !important;
        }
        .main {
            .cropImg {
                height: 670px;
                width: 1000px;
            }
            &.item {
                section {
                    bottom: 150px;
                }
            }
        }
        .other {
            .cropImg {
                height: 260px;
                width:  500px;
            }
        }
    }
}



//******* CATEGORIAS *************//
#sports {
    .item {
        section {
            &:hover {
                background: rgba(81,163,255,0.8);
            }
        }
    }
}